<div class="row">
  <h4 style="padding-left: 10px; padding-right: 30px; color:;">Create Fake Post</h4>
  <form action="/admin/generate-fake-posts" method="post">

    <div class="form-group" >
     <input type="number" name="number" class="form-control">
    </div>
   <button type="submit" class="btn btn-success" name="button">Create</button>
  </form>

</div>
