<footer>
     <div class="aw-container footer"><form action="/" method="post">
         <input type="email" name="email" placeholder="Enter Your Email" />
         <button type="submit" class="btn btn-info ">SUBSCRIBE</button>
         </form>
        
          
           <ul class="aw-social-icons ">
             
         <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
         <li><a href="https://www.instagram.com/hungerlibrary/" target="_blank"><i class="fab fa-instagram"></a></i></li>
         <li><a href="https://twitter.com/HungerLibrary" target="_blank"><i class="fab fa-twitter"></a></i></li>
         	
       </ul>
      </div>
  </footer>