  <nav >
     <div class="aw-container aw-align-center">
      <a href="/" class="awlogo">Hunger Library</a>
      <ul class="aw-navigation" >
        <li> <a href="/">Home</a></li>
        <li><a href="/allPost">Food</a></li>
        <li><a href="/allRestaurant">Restaurants</a></li>
       <!-- <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/admin">Admin</a></li> -->
        <li><a href="/allGallery">Gallery</a></li>
        <li><a href="/game">Game</a></li>
     </ul>
    </div>
    </nav>