<h1>Create Gallery</h1>
<form class="" action="/admin/gallerys/create" method="post" enctype="multipart/form-data">
<div class="form-group">
  <label for="title">Title</label>
  <input name="title" type="text" class="form-control" id="title" placeholder="Enter Title">
</div>

<div class="form-group">
  <label for="file">Image</label>
  <input name="file" type="file" class="form-control" >  
</div>

<button type="submit" class="btn btn-success">Save Gallery</button>


</form>

