<h1>Edit Gallery</h1>
<form 
action="/admin/gallerys/edit/{{gallery.id}}?_method=PUT" method="post">
<div class="form-group">
  <label for="title">Title</label>
  <input name="title" type="text" class="form-control" id="title" value="{{gallery.title}}">
</div>
<button type="submit" class="btn btn-success">Update Gallery</button>
</form>
