
/* General styles */

body {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
}

a {
	text-decoration: none;
}

.aw-container {
	  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.aw-align-center {
	align-items: center;
}
/* Header */

header nav {

    width: 100%;
    padding: 10px 0;
    background-color: #411485;
    font-family: 'Eater', cursive;
}

header nav ul.aw-navigation {
	display: flex;
  list-style-type: none;
	margin: 0;
	padding: 0;
}

header nav ul.aw-navigation li a {
    display: block;
    padding: 0 16px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

header nav ul.aw-navigation li:last-child a {
  padding-right: 0;
}

header nav ul.aw-navigation li a:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

header nav ul.aw-navigation li a:hover:after {
  width: 100%;
  opacity: 1;
}

.aw-main-banner {
	display: block;
	width: 100%;
}

/* Logo */

.awlogo {
     display: flex;
     color: #fff;
     font-size: 30px;
    }

/*Footer*/
footer{
  background-color: #280163;
}


footer .aw-social-icons{
   display: flex;
   list-style-type: none;
   align-items: right;
   font-size: 25px;

}

footer .aw-social-icons li {
  margin-left: 50px;

}

footer .aw-social-icons li a {
  display: flex;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
     color: #fff;
}

footer -aw.social-icons li a:hover{
  opacity: .7;
}

.aw-logo-footer {
     display: flex;
     color: #fff;
     font-size: 20px;
     font-family: 'Eater', cursive;
     padding-top: 10px;
    }


/*SUbscribe */

.subscribe {
  background-color: #280163;
  font-family: 'Eater', cursive;

  font-size: 25px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

input{
  font-size: 20px;
	padding-right: 12px;
}

.fas {
  padding-left: 25px;
  font-size: 30px;
  align-content: center;
  padding-top: 10px;
}

.subs {
  color: #fff;
}

.container-fluid {
	padding-top: 50px;
	padding-left: 100px;
	padding-bottom: 80px;
	display: block;
}

.card-group__header {
   text-align: center;
	 padding-bottom: 15px;
	 color: #411485;
	 font-family: 'Song Myung', serif;
}

.button {
	padding-top: 20px;
	padding-right: 80px;
	float: right;
}


.card img {
    height:300px;
    width:100%;

     object-fit: cover;
}

/* Carousel */


/*contact Us */

#aw-contact {
  background: #f8f8f8;
}

#aw-contact form {
display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

#aw-contact form input:not([type="submit"]),
#aw-contact form textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: solid 1px #ccc;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
}

#aw-contact form textarea {
  height: 100px;
  resize: none;
}

#aw-contact form *::-webkit-input-placeholder {
color: #ccc;
font-style:italic;
}

#aw-contact form *::-moz-placeholder {
color: #ccc;
font-style:italic;
}

#aw-contact form *:-ms-input-placeholder {
color: #ccc;
font-style:italic;
}

#aw-contact form *:-moz-input-placeholder {
color: #ccc;
font-style:italic;
}

#aw-contact input[type="submit"] {
  border: none;
  margin-top: 20px;
  padding: 10px 30px;
  color: #fff;
  background-color: #dca352;
  box-shadow: inset 0 -3px 0 0 #c79652;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#aw-contact input[type="submit"]:hover {
  color: #f5f5f5;
  box-shadow: inset 0 -3px 0 0 #a27c47;
}



/*footer*/
footer {
  
	padding: 20px 0 10px;
    background-color: #411485;
}

footer .aw-logo {
	width: 45px;
    height: 45px;
    font-size: 20px;
}

footer .aw-social-icons {
	display: flex;
    list-style-type: none;
}

footer .aw-social-icons li {
	margin-left: 20px;
}

footer .aw-social-icons li a {
	color: #fff;
    display: flex;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

footer .aw-social-icons li a:hover {
	opacity: .7;
}


#aw-gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#aw-gallery li {
	width: 20%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

#aw-gallery li img {
    display: block;
    width: 100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

#aw-gallery li:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

#aw-gallery li:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	-webkit-transition: all .3s ease;
    transition: all .3s ease;
}

#aw-gallery li:hover:after {
	width: 0;
	height: 0;
}

.gheading {
  padding-top: 50px;
  padding-bottom: 50px;
  color: red;
}

.gallery {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.gl{
  list-style-type: none;
}

.allgal{
  width:200px;
  display: block;
}