<h1>Edit Restaurants</h1>
<form 
action="/admin/restaurants/edit/{{restaurant.id}}?_method=PUT" method="post">
<div class="form-group">
  <label for="title">Title</label>
  <input name="title" type="text" class="form-control" id="title" value="{{restaurant.title}}">
</div>

<div class="form-group">
  <label for="body">Description</label>
  <textarea name="body" cols="25" rows="7"class="form-control" id="body" >{{restaurant.body}}</textarea>
</div>
<div class="form-group">
  <label for="name">Author Name</label>
  <input name="name" type="text" class="form-control" id="title" placeholder="Enter Author Name">
</div>
<button type="submit" class="btn btn-success">Update Restaurant</button>
</form>
