<h1>Create Post</h1>
<form class="" action="/admin/posts/create" method="post" enctype="multipart/form-data">
<div class="form-group">
  <label for="title">Title</label>
  <input name="title" type="text" class="form-control" id="title" placeholder="Enter Title">
</div>

<div class="form-group">
  <label for="file">Image</label>
  <input name="file" type="file" class="form-control" >  
</div>

<div class="form-group">
  <label for="body">Description</label>
  <textarea name="body" cols="25" rows="7"class="form-control" id="body" placeholder="Enter Description"></textarea>
</div>

<div class="form-group">
  <label for="name">Author Name</label>
  <input name="name" type="text" class="form-control" id="title" placeholder="Enter Author Name">
</div>
<button type="submit" class="btn btn-success">Save Post</button>
</form>
