<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.gallery {
  width: 1500px;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 300px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

}

</style>

<div class="gallery cf">
     {{#each gallerys}}
		<div>  <img src="img/gallery/{{file}}" alt="" />
		</div>
	{{/each}}
   {{#each posts}}
		<div>  <img src="img/foods/{{file}}" alt="" />
		</div>
	{{/each}}
    </div>
  
</div>
