{{> add/horizontal}}
    <div class="container">
        <div class="row py-3">
            <!-- left Sidebar -->
                {{> add/leftSide}}
            <!-- /left Sidebar -->
            <!-- main Content -->
                <div class="col-7">
                    <!-- Blog 1 -->
                       {{#each posts}}
                        <div class="border-2 p-2 px-4">
                             <a href="/post/{{id}}"></a><h4 class="text-center">{{title}}</h4></a>
                             <br>  <img class="card-img-top img-fluid" src="img/foods/{{file}}" alt="Card image cap">
                              <p><br>
                             {{substr 190 body}}
                             </p>
                             <p class="card-text">Author {{name }}</p>
                             <p class="card-text"><small class="text-muted">{{generateTime date 'MMMM Do YYYY' }}</small></p>
                                   <div class="button">
                          <a href="/post/{{id}}" class="btn btn-primary btn-sm">Read More</a>
                          </div>
                       </div>
                        <br><br><br>                        
                  {{/each}}
                </div>
            <!-- /main Content -->
                       <!-- right sidebar -->
                <div class="col-2 border-2 bcolor">
                    <div class="w-100 text-center p-4">
                        <!-- Ads -->
                           {{> add/rightSide}}
                        <!-- /Ads -->
                    </div>
                </div>
            <!-- /right sidebar -->
        </div>
    </div>


