{{> add/horizontal}}
 <div class="container">
  <div class="row py-3">
    <!-- left Sidebar -->
     {{> add/leftSide}}
     <!-- /left Sidebar -->
      <!-- main Content -->
       <div class="col-7">
        <!-- Blog 1 -->
         {{#each restaurants}}
          <div class="border-2 p-2 px-4">
           <a href="/post/{{id}}"></a><h4 class="text-center">{{title}}</h4></a><br>
            <img class="card-img-top img-fluid" src="img/restaurants/{{file}}" alt="Card image cap">
             <p>
             <br>
            {{substr 70 body}}  </p>
            <p class="card-text">Author {{name }}</p>
            <p class="card-text"><small class="text-muted">{{generateTime date 'MMMM Do YYYY' }}</small></p>
             <div class="button">
            <a href="/restaurant/{{id}}" class="btn btn-primary btn-sm">Read More</a>
             </div>
             <!--
                  <h6>Share it :
                    <i class="fab fa-facebook-f mr-3"> <a href="www.facebook.com"></a> </i>
                    <a href="https://www.twitter.com"><i class="fab fa-twitter mr-3"></i></a>
                    <i class="fab fa-instagram mr-3"></i>
                   <i class="fab fa-youtube mr-3"></i>
                   <i class="fab fa-pinterest-p mr-3"></i>
                <i class="fab fa-google-plus-g mr-3"></i>
                                </h6>
                            -->
                        </div>
                        <br><br><br>
                        
                  {{/each}}
                </div>
                

            <!-- /main Content -->

            <!-- right sidebar -->

                <div class="col-2 border-2 bcolor">
                    <div class="w-100 text-center p-4">
                       

                        <!-- Ads -->
                           {{> add/rightSide}}
                        <!-- /Ads -->
                    </div>
                </div>
            <!-- /right sidebar -->
        </div>
    </div>


