<section class="aw-header-content">
      <img src="./img/mainbannera.jpg" alt="banner" class="aw-main-banner"/>

    </section>

  </header>

  <!-- Main COntent-->

  <!-- Latest Posts-->
  
  <section>
    
    <div class="container-fluid">
     <h2 class="card-group__header">Latest Posts</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner row w-100 mx-auto">
    
       {{#myHelper posts}}
      <div class="carousel-item col-md-4 active">
        <div class="card" style="width: 20rem;">
          
          <img class="card-img-top img-fluid" src="img/foods/{{file}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{substr 70 title}}</h4>
            <p class="card-text">{{substr 70 body }}</p>
            <p class="card-text">Author {{name }}</p>
            <p class="card-text"><small class="text-muted">{{generateTime date 'MMMM Do YYYY' }}</small></p>
               <div class="button">
              <a href="/post/{{id}}" class="btn btn-info btn-sm">Read More</a>
            </div>
            
          </div>
        </div>
      </div>
      {{/myHelper}}
      
  </div>
</div>
  <div class="button">
  <a href="/posts" class="btn btn-info btn-sm">Read All</a>
  </div>
  
</div>
</div>

  </section>
   <!-- End Latest Posts-->
<!-- food and drinks-->

  <section>
    <div class="container-fluid">
     <h2 class="card-group__header">Food & Drink</h2>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto">
      {{#myHelper posts}}
      <div class="carousel-item col-md-4 active">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top img-fluid" src="img/foods/{{file}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{ substr 70 title}}</h4>
            <p class="card-text">{{substr 70 body }}</p>
            <p class="card-text">Author {{name }}</p>
            <p class="card-text"><small class="text-muted">{{generateTime date 'MMMM Do YYYY'}}</small></p>
            <div class="button">
              <a href="/post/{{id}}" class="btn btn-info btn-sm">Read More</a>
            </div>
            
          </div>
        </div>
      </div>

    {{/myHelper }}
     
  </div>
</div>
<div class="button">
  <a href="/posts" class="btn btn-info btn-sm">Read All</a>
</div>

</div>
  </section> 
<!--End-->
   <section>
    <div class="container-fluid">
     <h2 class="card-group__header">Restaurants</h2>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto">
      {{#myHelper restaurants}}
      <div class="carousel-item col-md-4 active">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top img-fluid" src="/img/restaurants/{{file}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{substr 70 title}}</h4>
            <p class="card-text">{{substr 70 body}}</p>
            <p class="card-text">Author {{name }}</p>
            <p class="card-text"><small class="text-muted">{{generateTime date "MMMM Do YYYY"}}</small></p>
          </div>
        </div>
      </div>
      {{/myHelper}}
  </div>
</div>
<div class="button">
  <a href="/restaurants" class="btn btn-info btn-sm">Read All</a>
</div>

</div>
  </section>

  