
  {{> add/horizontal}}
    <div class="container">
        <div class="row py-3">
            <!-- left Sidebar -->
        {{> add/leftSide}}
            <!-- /left Sidebar -->
            <!-- main Content -->
                <div class="col-7">
                    <!-- Blog 1 -->
                        <div class="border-3 p-2 px-4">
                            <h2 class="text-center">{{restaurant.title}}</h2>
                             <br>
                             <p class="card-text">Author {{name }}</p>
                            <img src="/img/restaurants/{{restaurant.file}}" class="img-fluid">                           
                            <p>
                                <br>
                             {{restaurant.body}}
                             <div class="fb-comments" data-href="https://www.hungerlibrary.com" data-numposts="5"></div>
                            </p>
                        </div>
                </div>
            <!-- /main Content -->
            <!-- right sidebar -->
                <div class="col-2 border-2 bcolor">
                    <div class="w-100 text-center p-4">                       
                        <!-- Ads -->
                            {{> add/rightSide}}
                        <!-- /Ads -->
                    </div>
                </div>
            <!-- /right sidebar -->
        </div>
    </div>


