
  {{> add/horizontal}}
    <div class="container">
        <div class="row py-3">
            <!-- left Sidebar -->
{{> add/leftSide}}

            <!-- /left Sidebar -->

            <!-- main Content -->

                <div class="col-7">
                    <!-- Blog 1 -->

                        <div class="border-3 p-2 px-4">
                            <h2 class="text-center">{{post.title}}</h2>
                             <br>
                            <img src="/img/foods/{{post.file}}" class="img-fluid">
                            
                            <p>
                                <br>
                             {{post.body}}
                             <p class="card-text">Author {{name }}</p>
                             <p class="card-text"><small class="text-muted">{{generateTime date 'MMMM Do YYYY' }}</small></p>
                             <div class="fb-comments" data-href="https://www.hungerlibrary.com" data-numposts="5"></div>
                                <h6>Share it :
                                        <i class="fab fa-facebook-f mr-3"> <a href="www.facebook.com"></a> </i>
                                        <i class="fab fa-twitter mr-3"><a href="https://www.twitter.com"></a></i></a>
                                        
                                </h6>
                            </p>
                        </div>

                </div>

            <!-- /main Content -->

            <!-- right sidebar -->

                <div class="col-2 border-2 bcolor">
                    <div class="w-100 text-center p-4">
                       

                        <!-- Ads -->
                            {{> add/rightSide}}
                        <!-- /Ads -->
                    </div>
                </div>
            <!-- /right sidebar -->
        </div>
    </div>


