<h1>Create Add</h1>
<form class="" action="/admin/adds/create" method="post" enctype="multipart/form-data">
<div class="form-group">
  <label for="title">Title</label>
  <input name="title" type="text" class="form-control" id="title" placeholder="Enter Title">
</div>
<button type="submit" class="btn btn-success">Save Add</button>
</form>

