<h1>Edit Add</h1>
<form 
action="/admin/adds/edit/{{add.id}}?_method=PUT" method="post">
<div class="form-group">
  <label for="title">Title</label>
  <input name="title" type="text" class="form-control" id="title" value="{{add.title}}">
</div>
<button type="submit" class="btn btn-success">Update Add</button>
</form>
