<h1>All Post</h1>

<table class="table table-striped table-bordered table-dark">
  <thead>
    <tr>
      <th>ID</th>
      
      <th>TITLE</th>
      
        </tr>
  </thead>
  <tbody>
    {{#each adds}}
   <tr>
     <td>{{id}}</td>
     <td>{{title}}</td>
     <td><a href="/admin/adds/edit/{{id}}" class="btn btn-info">Edit</a></td>
     <td>
       <form action="/admin/adds/{{id}}?_method=DELETE" method="post">
       <button type="submit" class="btn btn-danger">Delete</button>
       </form>
     </td>
   </tr>
  {{/each}}
  </tbody>

  </table>