<div class="col-3 border-2 bcolor">
                   <!-- <div class="w-100 text-center p-4">
                        <h5 class="p-2 border-bt">ADVERTISEMENT</h5>
                        <img src="/img/add/harrys_vertical_small.jpg" class="img-fluid mt-3">
                        <img src="/img/add/1-2-vertical.jpg" class="img-fluid mt-4">
                        <img src="/img/add/Verticle_ads-482.jpg" class="img-fluid mt-5">
                    </div>-->
                </div>