<ul class="navbar-nav navbar-sidenav navbar-light" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="/admin">
      <i class="fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text">Dashboard</span>
    </a>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts" data-parent="#exampleAccordion">
      <i class="fa fa-fw fa-wrench"></i>
      <span class="nav-link-text">Food & Drink</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapsePosts">
      <li>
        <a href="/admin/posts">All Posts</a>
      </li>
      <li>
        <a href="/admin/posts/create">Create Posts</a>
      </li>
    </ul>
  </li>  
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
          
            <span class="nav-link-text">Restaurants</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href="/admin/restaurants">All Restaurants</a>
            </li>
            <li>
              <a href="/admin/restaurants/create">Create New Restaurants</a>
            </li>           
            </ul>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Gallery</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="/admin/gallerys">All Images</a>
            </li>
            <li>
              <a href="/admin/gallerys/create">Insert Images</a>
            </li>
          </ul>
           </li>
          <li>
            <a href="/admin/subscriber/index">ALL SUBSCRIBERS</a>
          </li>

          </ul>
        </li>
        
        </li>
    
</ul>


